* {
  font-family: 'Montserrat', sans-serif;
}

/*** Login ***/
.txt08 {
  font-size: .8em;
}

#entrar {
  background: linear-gradient(-160deg, #ff652c, #FDA634);
  border: none;
  color: white;
  text-decoration: none;
}

/*** Newsfeed ***/
.mr-8 {
  margin-right: 8em;
}

.h-2 {
  height: 2em
}

.w-45 {
  width: 45%;
}

.navbar-brand {
  margin-right: 0 !important;
}

.profile {
  border-radius: 50%;
}

.mleft-2 {
  margin-left: -2em;
}

.icon-color {
  color: #ff652c;
}

/*** FOOTER ***/
.footer-height {
  height: 2.5em;
}

.icon-gray {
  color: #696969;
  cursor: pointer;
}

/*** COLECCIONES ***/
.menu-txt-active {
  color: #ff652c;
  font-size: 1.5em;
}

.menu-txt {
  color: black;
  font-size: 1.5em;
}
