<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700" rel="stylesheet">
    <title>WE COOK</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>

    <!-- NAV BAR -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="../views/newsfeed.html">
        <img src="../assets/brand/wecook-solid.svg" width="60" height="40" alt="">
      </a>
      <div class="input-group w-45 mr-8 h-2">
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-search fa-lg" aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="mleft-2">
        <a href="../views/profile.html"><img src="../assets/images/user-picture.jpg" width="30" height="30" alt="" class="profile"></a>
      </div>
    </nav>

    <!-- POST -->
    <div class="container mt-3">
      <div class="row">
        <div class="col-sm-12">
          <img src="../assets/images/chilaquiles.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
      </div>
      <div class="row mt-1">
        <div class="col text-center">
          <i class="fa fa-heart-o fa-lg icon-color" aria-hidden="true"></i>
        </div>
        <div class="col text-center">
          <i class="fa fa-comment-o fa-lg icon-color" aria-hidden="true"></i>
        </div>
        <div class="col-4 text-center"></div>
        <div class="col text-center">
          <i class="fa fa-share fa-lg icon-color" aria-hidden="true"></i>
        </div>
        <div class="col text-center">
          <i class="fa fa-bookmark fa-lg icon-color" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-1">
          <p class="txt08 mb-0">A <strong>Usuario1</strong>, <strong>Usuario2</strong> les gusta esto</p>
          <label for="exampleFormControlTextarea1" class="txt08"><strong>John Roe </strong>Chilaquiles</label>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <form>
            <div class="form-group">
              <textarea class="form-control txt08 comment" id="exampleFormControlTextarea1" rows="1" placeholder="Escribe un comentario..."></textarea>
            </div>
          </form>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary txt08 btn-send" id="post">Publicar</button>
        </div>
      </div>
    </div>

    <div id="comments-feed" class="mt-2minus">
      <div class="row ml-2">
        <div class="col-12">
          <p class="txt08 mb-0">Primer comentario! :)</p>
        </div>
       </div>
    </div>

    <!-- POST -->
    <div class="container mt-3">
      <div class="row">
        <div class="col-sm-12">
          <img src="../assets/images/pizza.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
      </div>
      <div class="row mt-1">
        <div class="col text-center">
          <i class="fa fa-heart-o fa-lg icon-color" aria-hidden="true"></i>
        </div>
        <div class="col text-center">
          <i class="fa fa-comment-o fa-lg icon-color" aria-hidden="true"></i>
        </div>
        <div class="col-4 text-center"></div>
        <div class="col text-center">
          <i class="fa fa-share fa-lg icon-color" aria-hidden="true"></i>
        </div>
        <div class="col text-center">
          <i class="fa fa-bookmark fa-lg icon-color" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 mt-1">
          <p class="txt08 mb-0">A <strong>Usuario1</strong>, <strong>Usuario2</strong> les gusta esto</p>
          <form>
            <div class="form-group">
              <label for="exampleFormControlTextarea1" class="txt08"><strong>John Doe </strong>Pizza casera</label>
              <textarea class="form-control txt08" id="exampleFormControlTextarea1" rows="1" placeholder="Escribe un comentario..."></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <footer>
      <div class="container fixed-bottom bg-light footer-height">
        <div class="row align-items-end mt-2">
          <div class="col text-center">
            <a href="../views/newsfeed.html"><i class="fa fa-home icon-gray" aria-hidden="true"></i></a>
          </div>
          <div class="col text-center">
            <i class="fa fa-heart icon-gray" aria-hidden="true"></i>
          </div>
          <div class="col-4 text-center">
            <i class="fa fa-plus icon-color" aria-hidden="true" type="button" data-toggle="modal" data-target="#exampleModal"></i>
          </div>
          <div class="col text-center">
            <i class="fa fa-bell icon-gray" aria-hidden="true"></i>
          </div>
          <div class="col text-center">
            <div class="mleft-2">
              <a href="../views/profile.html"><img src="../assets/images/user-picture.jpg" width="20" height="20" alt="" class="profile"></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Postea una receta</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="exampleFormControlFile1">Example file input</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Post</button>
          </div>
        </div>
      </div>
    </div>

    <!-- JQUERY JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/app.js"></script>

  </body>
</html>
