<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700" rel="stylesheet">
    <title>WE COOK</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>

    <!-- NAV BAR -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
      </a>
      <div class="input-group w-50 mr-8 h-2">
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-search fa-lg" aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="mleft-2">
        <img src="../assets/images/user-picture.jpg" width="30" height="30" alt="" class="profile">
      </div>
    </nav>

    <!-- POST -->
    <section id="seccion-2">
     <div>
         <img src="../assets/images/user-picture.jpg" width="50" height="50" alt="" class="foto-profile">
         <h3 class="text-uppercase1"><strong> Jane Doe</strong></h3>
     </div>
    </section>
    <!-- MENÚ COLECCIONES -->
      <div class="container">
        <div class="row align-items-end mt-5">
          <div class="orange">
            <h3 class="text-uppercase1">Publicaciones</h3>
          </div>
          <div class="col">
            <h3 class="text-uppercase1">Colecciones</h3>
          </div>
          <div class="col">
            <h3 class="text-uppercase1">Following</h3>
          </div>
          <div class="col">
            <h3 class="text-uppercase1">Followers</h3>
          </div>
        </div>
      </div>
      <hr>

<!-- IMAGES-->
    <div class="container mt-4">
      <div class="row">
        <div class="col">
          <img src="../assets/images/img1.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
        <div class="col">
          <img src="../assets/images/img2.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
        <div class="col">
          <img src="../assets/images/img3.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <img src="../assets/images/img44.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
        <div class="col">
          <img src="../assets/images/img5.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
        <div class="col">
          <img src="../assets/images/img6.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <img src="../assets/images/img8.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
        <div class="col">
          <img src="../assets/images/img9.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
        <div class="col">
          <img src="../assets/images/img55.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <img src="../assets/images/img11.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
        <div class="col">
          <img src="../assets/images/img12.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
        <div class="col">
          <img src="../assets/images/luci1.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <img src="../assets/images/img13.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
        <div class="col">
          <img src="../assets/images/img14.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
        <div class="col">
          <img src="../assets/images/img15.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <footer>
      <div class="container fixed-bottom bg-light footer-height">
        <div class="row align-items-end mt-2">
          <div class="col text-center">
            <i class="fa fa-home icon-gray" aria-hidden="true"></i>
          </div>
          <div class="col text-center">
            <i class="fa fa-heart icon-gray" aria-hidden="true"></i>
          </div>
          <div class="col-4 text-center">
            <i class="fa fa-plus icon-color" aria-hidden="true"></i>
          </div>
          <div class="col text-center">
            <i class="fa fa-bell icon-gray" aria-hidden="true"></i>
          </div>
          <div class="col text-center">
            <div class="mleft-2">
              <img src="../assets/images/user-picture.jpg" width="20" height="20" alt="" class="profile">
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
