<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700" rel="stylesheet">
    <title>WE COOK</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>

    <!-- BARRA PARA REGRESAR O AGREGAR UNA COLECCIÓN NUEVA -->
    <div class="container">
      <div class="row align-items-end my-4">
        <div class="col">
          <i class="fa fa-chevron-left icon-color fa-2x pull-left" aria-hidden="true"><a href="#"></a> </i>
        </div>
        <div class="col text-right">
          <i class="fa fa-plus icon-color fa-2x pull-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <!-- MENÚ COLECCIONES -->
    <div class="container">
      <div class="row align-items-end mt-5">
        <div class="col">
          <a class="pull-left menu-txt-active" href="#">Todo</a>
        </div>
        <div class="col">
          <a class="pull-right menu-txt" href="#">Colecciones</a>
        </div>
      </div>
    </div>

    <!-- POSTS -->
    <div class="container mt-4">
      <div class="row">
        <div class="col">
          <img src="../assets/images/pizza.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
        <div class="col">
          <img src="../assets/images/chilaquiles.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
        <div class="col">
          <img src="../assets/images/enchiladas.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <img src="../assets/images/pan_tostado.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
        <div class="col">
          <img src="../assets/images/smoothie.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
        <div class="col">
          <img src="../assets/images/avena.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <img src="../assets/images/mix.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
        <div class="col">
          <img src="../assets/images/hotcake.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
        <div class="col">
          <img src="../assets/images/cake.jpg" class="img-fluid w-100" alt="Responsive image">
        </div>
      </div>
    </div>


    <!-- FOOTER -->
    <footer>
      <div class="container fixed-bottom bg-light footer-height">
        <div class="row align-items-end mt-2">
          <div class="col text-center">
            <i class="fa fa-home icon-gray" aria-hidden="true"><a href="../views/newsfeed.html"></a></i>
          </div>
          <div class="col text-center">
            <i class="fa fa-heart icon-gray" aria-hidden="true"></i>
          </div>
          <div class="col-4 text-center">
            <i class="fa fa-plus icon-color" aria-hidden="true"></i>
          </div>
          <div class="col text-center">
            <i class="fa fa-bell icon-gray" aria-hidden="true"></i>
          </div>
          <div class="col text-center">
            <div class="mleft-2">
              <img src="../assets/images/user-picture.jpg" width="20" height="20" alt="" class="profile">
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
